.idea
compressed-video
raw-video
log
playlist

downloaded-files
*credentials.json
token.json
service_account.json


streamlit-web/downloaded-files
streamlit-web/unzipfiles
streamlit-web/src/utils/__pycache__/
streamlit-web/src/*.pyc