.idea
compressed-video
raw-video
log
playlist

downloaded-files
unzip
*credentials.json
token.json
service_account.json

__pycache__/
*/__pycache__/
streamlit-web/downloaded-files
streamlit-web/unzipfiles
streamlit-web/src/utils/__pycache__/
streamlit-web/src/*.pyc